{namespace fpc=NamelessCoder\CmsFluidPrecompilerModule\ViewHelpers}

<fpc:extendedTemplateInfo template="{templateFile}" extensionKey="{extensionKey}">
    <f:if condition="{result.failure}">
        <div class="alert alert-{info.efficiency -> fpc:efficiencyClass()}">
            <div class="alert-title">Compiling/parsing failure</div>
            <f:if condition="{result.failure}">
                <p>{result.failure}</p>
                <div class="alert-body">
                    <ul>
                        <f:for each="{result.mitigations}" as="mitigation">
                            <li>
                                {mitigation -> f:format.raw()}
                            </li>
                        </f:for>
                    </ul>
                </div>
            </f:if>
        </div>
    </f:if>
    <f:if condition="{info.wrappingIssues -> f:count()}">
        <div class="alert alert-warning">
            <div class="alert-title">Inefficient variable access detected</div>
            <div class="alert-body">
                <p>
                    One or more instances of inefficient variable access (ObjectAccessorNode in TextNode) detected.
                </p>
                <p>
                    Your templates will not render or compile as efficiently as they could until you correct this.
                    The detected instances were:
                </p>
                <ol>
                    <f:for each="{info.wrappingIssues}" as="wrappingIssue">
                        <li>
                            <code>sed -i 's/\'<f:format.raw>{</f:format.raw>{wrappingIssue.childNodes.0.objectPath}}\'/{wrappingIssue.childNodes.0.objectPath/'</code>
                        </li>
                    </f:for>
                </ol>
                <p>
                    Hint: you can search-and replace these; the lines above are shell commands.
                </p>
            </div>
        </div>
    </f:if>
    <table class="table table-bordered table-hover">
        <tr>
            <td>Template</td>
            <td>
                {templateFile -> fpc:truncateFilename()}
            </td>
        </tr>
        <tr>
            <td class="col-sm-3 col-md-2">Overall efficiency</td>
            <td>
                <p class="label label-{info.efficiency -> fpc:efficiencyClass()} lead">
                    <f:if condition="{info.efficiency} < 0" then="-&#x221e;" else="{info.efficiency -> f:format.number(decimals: 1)}" />
                </p>
            </td>
        </tr>
        <f:if condition="{info.layoutName}">
            <tr>
                <td>Layout</td>
                <td>
                    <fpc:extendedTemplateInfo template="{info.layoutFilename}" extensionKey="{extensionKey}" as="layoutInfo">
                        <f:render partial="TemplateList" section="TemplateLink" arguments="{template: info.layoutFilename, verbose: verbose, extensionKey: extensionKey, info: layoutInfo, paths: layoutInfo.context.templatePaths}" />
                    </fpc:extendedTemplateInfo>
                </td>
            </tr>
        </f:if>
        <f:if condition="{info.sections -> f:count()}">
            <tr>
                <td>Sections</td>
                <td>
                    <ol>
                        <f:for each="{info.sections}" as="sectionName">
                            <li>{sectionName}</li>
                        </f:for>
                    </ol>
                </td>
            </tr>
        </f:if>

    </table>
    <table class="table table-bordered">
        <thead>
        <th class="col-sm-3 col-md-2">Namespace</th>
        <th>PHP namespace lookups (wildcard <code>*</code> or pattern <code>xyz*</code> means ignored)</th>
        </thead>
        <f:for each="{info.context.viewHelperResolver.namespaces}" as="namespaces" key="alias">
            <tr>
                <td>{alias}</td>
                <td>
                    <f:for each="{namespaces as array}" as="namespace" iteration="iteration">
                        {namespace}<f:if condition="!{iteration.isLast}" then=" + " />
                    </f:for>
                </td>
            </tr>
        </f:for>
    </table>
    <f:if condition="{info.fanouts -> f:count()}">
        <table class="table table-striped table-bordered">
            <thead>
            <th class="col-sm-3 col-md-2">Rendered partial</th>
            <th class="col-sm-3 col-md-2">Section</th>
            <th>Argument names/types</th>
            </thead>
            <f:for each="{info.fanouts}" as="fanout">
                <tr>
                    <td>
                        <f:link.action action="compile" arguments="{extensionKey: extensionKey, templateFile: fanout.filename, verbose: verbose}">
                            {fanout.partial}
                        </f:link.action>
                    </td>
                    <td>{fanout.section}</td>
                    <td>
                        <f:if condition="{fanout.arguments -> f:count()}">
                            <f:else>
                                None
                            </f:else>
                            <f:then>
                                <table class="table table-bordered">
                                    <thead>
                                    <th>Argument</th>
                                    <th>Data type</th>
                                    <th>Source of value</th>
                                    </thead>
                                    <f:for each="{fanout.arguments}" as="argument" key="argumentName">
                                        <tr>
                                            <td>{argumentName}</td>
                                            <td>{argument.type}</td>
                                            <td><code>{argument.source}</code></td>
                                        </tr>
                                    </f:for>
                                </table>
                            </f:then>
                        </f:if>
                    </td>
                </tr>
            </f:for>
        </table>
    </f:if>
    <f:if condition="{info.helpers -> f:count()}">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <th>ViewHelper</th>
                <th>Escaped</th>
                <th>Usages</th>
                <th>Efficiency</th>
            </thead>
            <f:for each="{info.helpers}" as="helper" key="class">
                <tr>
                    <td>{class}</td>
                    <td>{f:if(condition: helper.escaped, then: 'yes', else: 'no')}</td>
                    <td>{helper.usages}</td>
                    <td class="{helper.efficiency -> fpc:efficiencyClass()}"><f:if condition="{helper.efficiency} < 0" then="-&#x221e;" else="{helper.efficiency}" /></td>
                </tr>
            </f:for>
            <tfoot>
            <tr>
                <td colspan="4">
                    Efficiency legend:
                    <span class="label label-success">=2.0 perfectly compiling</span>
                    <span class="label label-info">&gt;=1.0 good, static compiling</span>
                    <span class="label label-warning">&lt;1.0 okay, default invocation</span>
                    <span class="label label-danger">&lt;0.0 uncompilable</span>
                </td>
            </tr>
            </tfoot>
        </table>
        </ul>
    </f:if>
    <f:render partial="NodeVisualiser" arguments="{_all}" />
    <p>
        <button data-toggle="collapse" data-target="#source" class="btn btn-info">Show source code</button>
    </p>
    <div id="source" class="collapse">
        <pre>{info.source -> f:format.htmlspecialchars()}</pre>
    </div>
</fpc:extendedTemplateInfo>