{namespace fpc=NamelessCoder\CmsFluidPrecompilerModule\ViewHelpers}

<f:layout name="Backend" />

<f:section name="ButtonsLeft">

</f:section>

<f:section name="FunctionsLeft">
    {csh -> f:format.raw()}
</f:section>

<f:section name="Content">
    <div class="pull-right">
        <f:if condition="{templateFile}">
            <f:then>
                <f:link.action action="compile" arguments="{extensionKey: extensionKey}" class="btn btn-default">back to {extensionKey}</f:link.action>
            </f:then>
            <f:else if="{extensionKey}">
                <f:link.action action="compile" class="btn btn-default">back</f:link.action>
            </f:else>
        </f:if>
        <f:link.action action="compile" arguments="{extensionKey: extensionKey, verbose: verbose, templateFile: templateFile}" class="btn btn-primary">reload</f:link.action>
    </div>
    <h1>{f:translate(key: 'header.compile')}</h1>
    <f:if condition="{templateFile}">
        <f:then>
            <f:render partial="SingleTemplate" arguments="{_all}" />
        </f:then>
        <f:else>
            <f:if condition="{extensionKey}">
                <f:then>
                    <f:render partial="TemplateList" section="TemplateList" arguments="{extensionResults: '{results.{extensionKey}}', template: templateFile, verbose: verbose, extensionKey: extensionKey}" />
                </f:then>
                <f:else>
                    <f:render partial="TemplateList" section="AllTemplates" arguments="{_all}" />
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:section>
